<div style="text-align:center">
  <h3>
    Hey !!  <span appRainbow style="
    border-style: solid;
    border-width: 1px;
    padding: 10px
    ">{{initials | uppercase}}</span>
  </h3>
    <nav>
      <a routerLink="brief" routerLinkActive="active">See Comapny Brief</a>
      <a routerLink="carrier" routerLinkActive="active">Carrier</a>
    </nav>
  <router-outlet></router-outlet>
  <img
    appRotate
    src="https://image3.mouthshut.com/images/imagesp/925612037s.png"
    style="height:126px;padding-top:30%"
    alt="vinove">
</div>
